{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Coleta SIGCARN</title>
    <link rel="stylesheet" href="{% static 'css/globalstyle.css' %}">
</head>
<body>
    <div class="container">
        <h1>Sistema de Coleta SIGCARN</h1>
        <a href="/if" rel="search"><button>Coleta de Dados</button></a>
    </div>
</body>
</html>